@using Microsoft.AspNetCore.Identity
@using Entidades.Entidades

@model Dominio.EntidadesDto.UsuarioDto
@inject UserManager<UsuarioApp> UserManager

@{
    var TituloFormulario = (ViewBag.Origen == 1) ? "Editar Información" : "Nuevo Usuario";
    var TituloBtn = (ViewBag.Origen == 1) ? "Actualizar Usuario" : "Guardar Usuario";

}


@*LIBRERIA DE INPUT MASK*@
<script src="~/bower_components/inputmask/dist/min/inputmask/jquery.inputmask.min.js"></script>
<script src="~/bower_components/inputmask/dist/inputmask/bindings/inputmask.binding.js"></script>

<div class="modal fade" id="modal-editUser" data-backdrop="static" style="display:none">
    <div class="modal-dialog animated fadeIn">
        <div class="box box-success">
            <div class="box-header with-border">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <h4 class="modal-title text-center">
                    <i class="fa fa-edit"></i>
                    <strong>@TituloFormulario</strong>
                </h4>
            </div>

            <div id="formularioDoc" class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="formDoc" asp-controller="Account" asp-action="GuardarUser"
                              data-ajax="true"
                              data-ajax-method="POST"
                              data-ajax-begin="onBegin"
                              data-ajax-complete="onComplete"
                              data-ajax-success="onSuccessEdit"
                              data-ajax-failure="onFailEdit">

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombres:</label>
                                    <div id="contentNombre" class="form-group">
                                        <label id="lblSuccessNombre" style="display:none; font-size:small" class="control-label" for="NombreProducto"><i class="fa fa-check"></i> Formato Correcto!</label>
                                        <label id="lblErrorNombre" style="display:none;  font-size:small" class="control-label" for="Nombres"><i class="fa fa-times-circle-o"></i> Formato Incorrecto!</label>
                                        <input type="text" asp-for="Id" class="form-control" readonly="readonly" style="display:none">
                                        <input type="text" asp-for="Nombres" class="form-control" maxlength="200" placeholder="Escriba el nombre del Usuario">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Apellidos:</label>
                                    <div id="contentApellido" class="form-group">
                                        <label id="lblSuccessApellido" style="display:none; font-size:small" class="control-label" for="NombreProducto"><i class="fa fa-check"></i> Formato Correcto!</label>
                                        <label id="lblErrorApellido" style="display:none;  font-size:small" class="control-label" for="Nombres"><i class="fa fa-times-circle-o"></i> Formato Incorrecto!</label>
                                        <input type="text" asp-for="Apellidos" class="form-control" maxlength="200" placeholder="Escriba el nombre del Usuario">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre de Usuario:</label>
                                    <div id="contentUsuario" class="form-group">
                                        <label id="lblErrorUsuario" style="display:none;  font-size:small" class="control-label" for="Nombres"><i class="fa fa-times-circle-o"></i> Formato Incorrecto!</label>
                                        <input type="text" asp-for="OrigenForm" class="form-control" readonly="readonly" value="@ViewBag.Origen" style="display:none">
                                        <input type="text" asp-for="UserName" class="form-control" placeholder="Escriba el nombre del Usuario">                                       
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Rol:</label>
                                    <div id="contentRol">
                                        <label id="lblErrorRol" style="display:none;  font-size:small" class="control-label" for="Nombres"><i class="fa fa-times-circle-o"></i> Formato Incorrecto!</label>
                                        @Html.DropDownListFor(r => r.Rol, (IEnumerable<SelectListItem>)(ViewBag.Roles),
                                                                          "..:: Seleccione un Rol ::..",
                                                                          new { @class = "form-control" })
                                       
                                    </div>

                                </div>
                            </div>
                            @if (ViewBag.Origen == 2)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Contraseña:</label>
                                        <div id="contentContra" class="form-group">
                                            <label id="lblErrorContra" style="display:none;  font-size:small" class="control-label" for="Nombres"><i class="fa fa-times-circle-o"></i> Formato Incorrecto!</label>
                                            <input type="password" autocomplete="off" asp-for="contra" class="form-control" maxlength="200" placeholder="Escriba la contraseña">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Contraseña:</label>
                                        <div id="contentContra2" class="form-group">
                                            <label id="lblErrorContra2" style="display:none; font-size:small" class="control-label" for="Nombres"><i class="fa fa-times-circle-o"></i> Formato Incorrecto!</label>
                                            <input type="password" autocomplete="off" asp-for="contraConfirm" class="form-control" maxlength="200" placeholder="Escriba nuevamente la contraseña">
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Fecha de Nacimiento:</label>
                                    <div id="contentNombre" class="form-group">
                                        <input type="date" asp-for="FechaNacimiento" class="form-control" maxlength="200" placeholder="Dijite la fecha de nacimiento del Usuario">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Sexo:</label>
                                    <div id="contentNombre" class="form-group">
                                        <div class="row">
                                            <div class="col-md-4"><input type="radio" name="Sexo" value='M' asp-for="Sexo" />   Masculino</div>
                                            <div class="col-md-4"><input type="radio" name="Sexo" value='F' asp-for="Sexo" />   Femenino</div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label>Dirección:</label>
                                    <div id="contentDescripcion" class="form-group">
                                        <textarea asp-for="Direccion" class="form-control" placeholder="Dirección del usuario" style="resize:none"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Telefono:</label>
                                    <div id="contentNombre" class="form-group">
                                        <input type="tel" asp-for="PhoneNumber" data-inputmask="'mask': '(505) 9999-9999'" data-mask="" class="form-control" placeholder="Escriba el nombre del Usuario">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Correo Electrónico:</label>
                                    <div id="contentNombre" class="form-group">
                                        <input type="text" asp-for="Email" class="form-control" placeholder="Escriba el nombre del Usuario">
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <button class="btn btn-block btn-verde redondeo shadow grow" onclick="return validacionFormulario()">
                                        <i class="fa fa-save"></i> @TituloBtn
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        debugger;
         var origen = $('#OrigenForm').val();
         if (origen == 1 && '@ViewBag.Rol' != "Administrador") {
             $('#UserName').prop("disabled", true);
             $('#Rol').prop("disabled", true);
         } else {
             $('#UserName').prop("disabled", false);
             $('#Rol').prop("disabled", false);

         }
      });


    function onBegin() {
        IniciarLoad('#formularioDoc');
    };
    function onComplete() {
        // Escondemos el Ajax Loader
        CerrarLoad('#formularioDoc');
    };

    function onSuccessEdit(response) {
        var origen = $('#OrigenForm').val();
        SuccessGuardarJq(response, HideModalUsuario);
        if (origen == 1) {
            ShowDatosPersonales();
        } else {
            ShowUsuarios();
        }
    }
    function onFailEdit(response) {
        FailMensaje(response.responseJSON);
    }
    function HideModalUsuario() {
        $('#modal-editUser').modal("hide");
    }

    function validacionFormulario() {
        //DECLARAMOS LAS VARIABLES
        debugger;
        var nombre, apellido, usuario, rol, contra, contra2, direccion, telefono, correo, tituloNombre, tituloApellido,
            tituloUsuario, tituloRol, tituloContra, tituloContra2, tituloContra2, tituloTelefono, tituloCorreo;

        nombre = $('#Nombres').val();
        apellido = $('#Apellidos').val();
        usuario = $('#UserName').val();
        rol = $("#Rol").val()
        contra = $('#contra').val();
        contra2 = $('#contraConfirm').val();
        direccion = $('#Direccion').val();
        telefono = $('#PhoneNumber').val();
        correo = $('#Email').val();

        //VALIDACIONES
        if (!(/[A-Za-z]{1,200}/.test(nombre))) {
            $("#lblErrorNombre").show();
            $("#contentNombre").addClass("has-error animated shake");
            $('#Nombres').focus();
            tituloNombre = "Debe ingresar un Nombre";
            $('#Nombres').tooltip({ title: tituloNombre, placement: "bottom" });
            $('#Nombres').tooltip('show');
            return false;
        }
        else if (/[A-Za-z]{1,200}/.test(nombre)) {
            $("#lblErrorNombre").hide();
            $("#contentNombre").removeClass("has-error animated shake");
            $('#Nombres').tooltip('destroy');
        }

        if (!(/[A-Za-z]{1,200}/.test(apellido))) {
            $("#lblErrorApellido").show();
            $("#contentApellido").addClass("has-error animated shake");
            $('#Apellidos').focus();
            tituloApellido = "Debe ingresar su Apellido";
            $('#Apellidos').tooltip({ title: tituloApellido, placement: "bottom" });
            $('#Apellidos').tooltip('show');
            return false;
        }
        else if (/[A-Za-z]{1,200}/.test(apellido)) {
            $("#lblErrorApellido").hide();
            $("#contentApellido").removeClass("has-error animated shake");
            $('#Apellidos').tooltip('destroy');
        }

        if (!(/[A-Za-z0-9]{1,200}/.test(usuario))) {
            $("#lblErrorUsuario").show();
            $("#contentUsuario").addClass("has-error animated shake");
            $('#UserName').focus();
            tituloUsuario = "Debe ingresar un nombre de usuario";
            $('#UserName').tooltip({ title: tituloUsuario, placement: "bottom" });
            $('#UserName').tooltip('show');
            return false;
        }
        else if (/[A-Za-z0-9]{1,200}/.test(usuario)) {
            $("#lblErrorUsuario").hide();
            $("#contentUsuario").removeClass("has-error animated shake");
            $('#UserName').tooltip('destroy');
        }

        if (rol == "") {
            $("#lblErrorRol").show();
            $("#contentRol").addClass("has-error animated shake");
            $('#Rol').focus();
            tituloRol = "Debe seleccionar un Rol";
            $('#Rol').tooltip({ title: tituloRol, placement: "bottom" });
            $('#Rol').tooltip('show');
            return false;
        } else {
            $("#lblErrorRol").hide();
            $("#contentRol").removeClass("has-error animated shake");
            $('#Rol').tooltip('destroy');
        }

        if (!(/[A-Za-z0-9]{5,50}/.test(contra))) {
            $("#lblErrorContra").show();
            $("#contentContra").addClass("has-error animated shake");
            $('#contra').focus();
            tituloContra = "Debe ingresar mas de cinco digitos";
            $('#contra').tooltip({ title: tituloContra, placement: "bottom" });
            $('#contra').tooltip('show');
            return false;
        }
        else if (/[A-Za-z0-9]{5,50}/.test(contra)) {
            $("#lblErrorContra").hide();
            $("#contentContra").removeClass("has-error animated shake");
            $('#contra').tooltip('destroy');
        }

        if (!(/[A-Za-z0-9]{5,50}/.test(contra2))) {
            $("#lblErrorContra2").show();
            $("#contentContra2").addClass("has-error animated shake");
            $('#contraConfirm').focus();
            tituloContra = "Debe ingresar mas de cinco digitos";
            $('#contraConfirm').tooltip({ title: tituloContra, placement: "bottom" });
            $('#contraConfirm').tooltip('show');
            return false;
        } else if (contra != contra2) {
            $("#lblErrorContra2").show();
            $("#contentContra2").addClass("has-error animated shake");
            $('#contraConfirm').focus();
            tituloContra = "Las contraseñas no coinciden";
            $('#contraConfirm').tooltip('destroy');
            $('#contraConfirm').tooltip({ title: tituloContra, placement: "bottom" });
            $('#contraConfirm').tooltip('show');
            return false;
        }
        else if (/[A-Za-z0-9]{5,50}/.test(contra2)) {
            $("#lblErrorContra2").hide();
            $("#contentContra2").removeClass("has-error animated shake");
            $('#contraConfirm').tooltip('destroy');
        }

        return true;
    }

</script>


